body {
    background-color: black;
}

.title {
    text-align: center;
    color: hsl(10, 10%, 78%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 7px;
    background: linear-gradient(to right, hsl(0, 0%, 100%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 1200px;
    }
    100% {
      background-position: 1200px;
    }
  }

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search-icon.png');
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: 2px solid #ccc;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;

    cursor: pointer;
}